@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin mobile{
  @media (min-width:425px){
      @content;
  }
}
@mixin tablet{
  @media (min-width:768px){
      @content;
  }
}
@mixin desktop{
  @media (min-width:992px){
      @content;
  }
}
@mixin large{
  @media (min-width:1280px){
      @content;
  }
}

@mixin wide{
  @media (min-width: 1440px){
    @content
  }
}
 
:root {
  box-sizing: border-box;
  --light-blue: #38b5e6;
  --light-grey: #abc8e8;
  --blue: #244289;
  --black: #222;
  --white: #fffefe;
  --background-color: #fcfff6;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;

  .wrapper{
    background-color: var(--background-color);
    min-height: 100vh;
    max-width: 1160px;
    margin: 0 auto;
  }

  .active{
    border-bottom: var(--light-blue) 2px solid;
  }
}



