@import '@/styles/globals.scss';

.home {
    min-height: calc(100vh - 200px);
    overflow-y: hidden;
    background-image: url("/images/bg_bubbles.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    position: relative;

    .home-content {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        margin: 0 auto;

        h1 {
            margin: 90px 0 0 20px;
            padding: 20px;
            font-size: 1.6rem;

            span {
                display: flex;
            }

            @include tablet {
                font-size: 2.4rem;
            }

            @include desktop {
                margin: 90px 0 0 20px;
            }
            
            @include large {
                margin: 90px 0 0 0;
            }

            @media screen and (orientation: landscape){
                margin: 40px 0 0 20px;
            }
        }

        .read-more-btn {
            font-family: "Playfair";
            font-weight: 600;
            letter-spacing: .05rem;
            cursor: pointer;
            width: 120px;
            padding: 15px 20px;
            border-radius: 5px 5px 0 0;
            border: none;
            background-color: var(--background-color);
            color: var(--blue);
            text-transform: uppercase;
            text-decoration: none;
            position: absolute;
            top: 35%;
            transform: translateY(-50%);
            left: 120px;

            @include mobile{
                left: 150px;
                top: 200px;
            }
            
            @include tablet {
                width: 20%;
                left: 200px;
                top: 220px;
                padding: 20px 30px;
                font-size: 20px;
            }

            @media screen and (orientation: landscape) {
                top: 160px;
            }
            @include desktop {
                width: 15%;
                padding: 20px 35px;
                top: 230px;
                font-size: 22px;
                left: 250px;
            }

            @include large{
                width: 150px;
                left: 300px;
            }

            @include wide{
                left: 300px;
            }
            @media screen and (min-width:1600px){
                left: 35%;
                padding: 25px 40px;                
            }
            &:hover {
                color: var(--light-grey);
                background-color: var(--blue);
            }
        }

        .img-attr {
            display: block;
            flex: 0 0 100%;
            position: absolute;
            bottom: 15px;
            right: 20px;
            color: black;

            a {
                background-color: var(--white);
                color: var(--blue);
                padding: 3px 7px;
                border-radius: 5px 5px 0 0;
                font-style: oblique;
                font-weight: 600;
                letter-spacing: .05rem;

                &:hover {
                    color: var(--light-grey);
                    background-color: var(--blue);
                }
            }
        }
    }

}